@font-face {
    font-family: 'icomoon';
    src: url('/res/icons.woff?p1kp3j') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stock_add:before {
    content: "\e900";
}

.icon-stock_entry:before {
    content: "\e901";
}

.icon-stock_level:before {
    content: "\e902";
}

.icon-stock_tally:before {
    content: "\e903";
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
legend,
img,
table,
tr,
td,
th {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    color: #444448;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    letter-spacing: 0.03em;
}

body {
    margin: 0;
    height: 100%;
    color: #222;
    background: #dcdcdc;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #111;
}

h1 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.0em;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1em;
}

.ctrl-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.ctrl-link:hover {
    text-decoration: none;
}

main {
    width: fit-content;
    margin: 40px 20px;
    padding: 10px;
}

main>section {
    margin: 0 0 60px 0;
    width: 100%;
    border-bottom: 1px solid silver;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

section>header {
    border-bottom: 1px solid silver;
    margin: 0 0 10px 0;
}

section>header h1 {
    font-size: 1.6em;
    line-height: 1;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    color: dimgray;
}

section>header>h1 [class^="icon-"] {
    margin-right: 8px;
}

.icon-stock_add,
.icon-stock_tally {
    color: white;
    padding: 4px;
}

.icon-stock_add {
    background-color: palevioletred;
}

.icon-stock_tally {
    background-color: #FBA302;
}


#current_levels table {
    width: 100%;
    margin: 20px 0;
}

#current_levels table tbody tr th {
    color: gray;
    text-align: right;
    padding-right: 12px;
}

#current_levels table tbody td {
    padding: 6px;
}

#current_levels table tbody td:nth-child(3),
#current_levels table tbody td:nth-child(4) {
    color: gray;
}

#current_levels table tbody td:nth-child(4) {
    font-style: italic;
}

#current_levels table tbody tr td:nth-child(2),
#current_levels table tbody td:nth-child(3),
#current_levels table tbody td:nth-child(4) {
    padding: 0 10px;
}

#current_levels table tbody tr:last-child td {
    border-bottom: 1px solid gray;
}


#data_entry header {
    display: flex;
    justify-content: space-between;
}

#data_entry input[name=entry_date] {
    border-width: 0;
    padding: 0;
    color: #2196F3;
    font-family: sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

#data_entry table tr:nth-child(2) td {
    text-align: center;
    padding: 0 16px;
}

#data_entry table tr:nth-child(2) td:nth-child(1) {
    padding: 0;
}

#data_entry table tr:nth-child(2) td:nth-child(3) {
    padding: 0;
}

#data_entry table tr:nth-child(3) td {
    text-align: center;
}

#data_entry table .inputs input[type=number] {
    width: 72px;
}

#data_entry table .hint {
    font-size: 14px;
    color: gray;
    font-style: italic;
}


#data_entry table .actions button {
    display: block;
    margin: 10px;
    cursor: pointer;
    color: white;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    letter-spacing: 0.03em;
    font-size: 1.0em;
}

#data_entry table .actions button span[class^="icon-"] {
    font-size: 1.6em;
    margin-right: 6px;
}

#data_entry table .actions button:hover {
    border-color: #2196F3;
    box-shadow: 2px 2px 4px dimgray;
}

#data_entry table .actions button[data-type=OLD] {
    background-color: #FBA302;
}

#data_entry table .actions button[data-type=NEW] {
    background-color: palevioletred;
}

dialog {
    border-radius: 8px;
    border-color: silver;
    box-shadow: 6px 6px 10px dimgray;
}

dialog button {
    border: 1px solid silver;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
}

dialog button:hover {
    background-color: silver;
}

dialog#stock_entry_confirm_dialog button[data-type=ok] {
    background-color: #2196F3;
}

dialog#stock_entry_confirm_dialog button[data-type=ok] {
    color: white;
    background-color: #2196F3;
}

dialog#stock_entry_confirm_dialog button[data-type=cancel] {
    color: dimgray;
    background-color: white;
}

dialog#stock_entry_confirm_dialog div.icon {
    font-size: 2em;
    text-align: center;
}

dialog#stock_entry_confirm_dialog div.mesg {
    margin: 20px 0;
}

dialog#stock_entry_confirm_dialog div.hint {
    text-align: center;
    margin: 20px 0;
}

dialog#stock_entry_confirm_dialog div.controls {
    text-align: right;
}

dialog#all_entries_dialog {
    height: 90vh;
    width: 90vw;
    padding-top: 0;
}

dialog#all_entries_dialog>header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 20px;
    border-bottom: 1px solid silver;
}

dialog#all_entries_dialog>header h1 {
    font-size: 1.8em;
}

dialog#all_entries_dialog>header>div {
    cursor: pointer;
    color: #2196F3;
    font-size: 1.6em;
}

dialog#all_entries_dialog>section table tr {
    border-bottom: 1px solid silver;
}

dialog#all_entries_dialog>section table tr td {
    padding: 6px;
}

dialog#all_entries_dialog>section table tr td:nth-child(2) {
    padding: 0 20px;
}

.animate-error-blink {
    animation: error-blink 0.4s infinite;
    animation-fill-mode: both;
}

@keyframes error-blink {
    0% {
        opacity: 0;
        /* background-color: blue; */
        border: 3px solid red;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* background-color: unset; */
        border: unset;
    }
}